<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DonAID</title>
    <link rel="stylesheet" href="/static/mac.css" />
  </head>
  <body>
    <div class="nav">
      <input type="checkbox" id="nav-check" />
      <div class="nav-header">
        <div class="nav-title">CHANGE</div>
      </div>
      <div class="nav-btn">
        <label for="nav-check">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>

      <div class="nav-links">
        <a href="#" target="_blank">Home</a>
        <a href="#" target="_blank">Community</a>
        <a href="#" target="_blank">About us</a>
        <a href="#" target="_blank">Contact us</a>
        <a href="#" target="_blank">Donate</a>
      </div>
    </div>
    <div class="con">
      <div class="cont">
        Your contributions help us serve major food and environment issues, it
        will help in the beginning of new era where all ideal scenarios are
        achievable!

        <br />
        <br />

        We cannot do the work that we do without your support and it’ll need
        each and every one of us to come together to ensure a happier world!

        <br />
        <br />

        Lets CHANGE together!

        <div><a href="#" class="button">Change Now!</a></div>


      </div>
      
      <div class="cont1">
        <img class="image" src="/static/images/2.jpg" alt="image_home" />
      </div>
    </div>
  </body>
</html>
